:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(78, 78, 78));
  align-items: center;

  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
}

